<div class="col-md-3">
    <a href="/add"><button class="btn btn-info mt-2 ">NEW ENTRY MANAGEMENT</button></a>
    <a href="/out"><button class="btn btn-info mt-2 mb-2">OUT MANAGEMENT</button></a>
</div>